.qr-container {
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.qr-input {
  padding: 20px 30px;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 25px;
  color: grey;
  outline: none;
  border: none;
  width: 90%;
}
.qr-textLength {
  margin-top: -30px;
  font-size: 16px;
  opacity: 0.5;
}

.qr-box {
  position: relative;
  // font-family: 'CustomFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;

  color: black;
  background-color: white;
  //   border: 2px solid black;
  text-align: left;
  transform: rotate(45deg);
  font-family: "Megafont";
}

.qr-text-top {
  position: absolute;
  top: 0px; /* Position relative to square height */
  left: 0px;
  right: 3px;
  rotate: 180deg;
  max-width: 150px;

  overflow: hidden;
  white-space: break-spaces;
  word-wrap: break-word;
  @media (max-width: 700px) {
    max-width: 125px;
  }
}

.qr-text-bottom {
  position: absolute;
  bottom: 0px; /* Position relative to square height */
  left: 3px;
  max-width: 150px;
  overflow: hidden;
  white-space: break-spaces;
  word-wrap: break-word;
  @media (max-width: 700px) {
    max-width: 125px;
  }
}


.qr-text-left {
  position: absolute;
  top:3px;
  bottom: 0px; /* Start at the top of the square */
  left: 0px; /* Position relative to square width */
  writing-mode: vertical-rl;
  max-height: 150px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: break-spaces;
  @media (max-width: 700px) {
    max-height: 125px;
  }
}

.qr-text-right {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: left;
  bottom: 3px;
  right: 0px;
  max-height: 150px;
  overflow: hidden;
  white-space: break-spaces;
  word-wrap: break-word;
  @media (max-width: 700px) {
    max-height: 125px;
  }
}

.qr-download-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}

button {
  margin-right: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #649de2;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: #17365c;
  }
}
.item-1 {
  position: absolute;
  color: rgb(196, 55, 55);
  font-size: 15px;
  top: 120px;
}
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 40%;

  background-color: rgb(0, 0, 0, 0.3);
}

.qr-box-centered {
  width: 330px;
  height: 330px;
  position: relative;
  border-radius: 10px;
  background-color: white;
  transform: rotate(45deg);
  font-family: "Megafont";
}

.triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 15px;
  border-radius: 10px;
}

.qr-text-bottom-right-centered {
  clip-path: polygon(0 100%, 50% 50%, 100% 100%);
  background-color: white;
  color: black;
  word-wrap: break-word;
  white-space: break-spaces;
  .triangle-content-parent {
    margin-top: 120px;
  }
  &.left {
    transform: rotate(90deg);
  }
  &.top {
    transform: rotate(180deg);
  }
  &.right {
    transform: rotate(270deg);
  }
}

.flex-graphics {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  opacity: 1;
  padding: 50px;
}

.config-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.hideGraphics{
  opacity: 0;
}